@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap');