@import url(/font-family.css);
/*----------------------- Nav Header------------------*/
* {
    font-family: 'smooch Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.nb {
    background-color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    height: 70px;
}

.nav-ct {
    width: 500px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-items: center;
    justify-content: space-between;
}

.text-center a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin: 0;
}

.button-menu {
    border: none;
    color: white;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    left: 0px;
    top: 0px;
    background-color: #786969;
    width: 50%;
    height: 100vh;
}

.nav-ff{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #333;
}

.nav-ff a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    margin-left: 20px;
    line-height: 70px;
}

.hm{
    display: block;
    text-align: left;
    padding-left: 20px;
    color: rgb(199, 197, 197);
    text-decoration: none;
    font-size: 30px;
    line-height: 70px;
    transition: all 0.3s ease;
}

.hm:hover{
    color: #fff;
    background-color: #63646484;
}

.dp{        
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    flex-direction: row;
    width: 150px;
    height: 50px;
    bottom: 10px;
    right: 55px;
    color: rgb(199, 197, 197);
    text-decoration: none;
}

.th-g a{
    margin-right: 20px;
    color: #ffffff;
}

.th-t a{
    margin-right: 20px;
    color: #ffffff;
}

.th a{
    color: #ffffff;
}

.nav-of {
    z-index: 1000;
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #1e1c1c42;
    width: 50%;
    height: 100vh;
}

/*----------------------- End Nav Header ------------------*/




/*----------------------- Main section ------------------*/

.main-ct {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/imagenes/business-owner-working-their-strategy.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    display: flex;
    padding: 50px;
}

.sec-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ct-1 {
    top: 30px;
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    text-align: left;
    color: white;
}

.st-1 h3 {
    font-family: 'Smooch Sans';
    font-style: oblique;
    font-size: 1.6rem;
}

.st-2 h1 {
    font-family: 'smooch Sans', sans-serif;
    font-style: normal;
    margin-top: 30px;
    font-size: 2.7rem;
}

.dp-2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 200px;
    height: 30px;
    color: rgb(199, 197, 197);
    text-decoration: none;
}

.th-2-g a{
    margin-right: 20px;
    color: #ffffff;
}

.th-2-t a{
    margin-right: 20px;
    color: #ffffff;
}

.th-2 a{
    color: #ffffff;
}

.ct-2 {
    font-family: 'smooch Sans', sans-serif;
    font-size: 1.7rem;
    top: 300px;
    width: 60%;
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: left;
    color: rgba(255, 255, 255, 0.579);
}

.ct-3 {
    font-family: 'smooch Sans', sans-serif;
    font-size: 1.4rem;
    margin-top: 30px;
    width: 60%;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    text-align: left;
    color: #fff;
}

.bt {
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
    margin-top: 30px;
    background-color: #359bdb;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.bt:hover {
    background-color: #5985a7;
}

/*----------------------- End Main Section ------------------*/




/*----------------------- New Div ------------------*/

.new-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px;
}

.H-N {
    font-family: 'smooch Sans', sans-serif;
    font-size: 2.5rem;
    margin-top: 10px;
    color: #333;
}

.P-N {
    font-family: 'smooch Sans', sans-serif;
    font-size: 1.4rem;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.img-div img {
    width: 100%;
    height: auto;
}

.dv-n {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
}

.ct-n {
    font-family: 'smooch Sans', sans-serif;
    background-color: #333;
    font-size: 1.4rem;
    margin-top: 30px;
    width: 90%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    transition: all 0.3s ease;
}

.n1{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: #077da1;
    color: #fff;
}

.n1:hover{
    color: #fff;
    background-color: #11529e;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 17px 20px 20px 0px rgba(0, 0, 0, 0.371);
}

.n2{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: #929ca0d0;
    color: #fff;
}

.n2:hover{
    background-color: #8e3838bf;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 17px 20px 20px 1px rgba(0, 0, 0, 0.371);
}

.n3{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: #929ca0d0;
    color: #fff;
}

.n3:hover{
    background-color: #8e3838bf;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 17px 20px 20px 1px rgba(0, 0, 0, 0.371);
}

.n4{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: #1d88b6;
    color: #fff;
}

.n4:hover{
    background-color: #239160;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 17px 20px 20px 1px rgba(0, 0, 0, 0.371);
}

.n-ct{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    text-align: center;
}

.n-ct h4{
    text-align: center;
    font-family: 'smooch Sans', sans-serif;
    font-size: 2.5rem;
    margin-top: 15px;
    width: 100%;
    color: #333;
}

/*----------------------- End New Div ------------------*/


/*----------------------- Cons Section ------------------*/

.cons {
    display: flex;
    flex-direction: column;
    background-color: #bbbbbb7b;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px;
}

.cons-ct {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.cons-ct h3 {
    font-family: 'smooch Sans', sans-serif;
    font-size: 2.5rem;
    margin-top: 10px;
    color: #333;
}

.cons-p {
    font-family: 'smooch Sans', sans-serif;
    font-size: 1.4rem;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}

.cons-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cons-img img {
    width: 100%;
    height: auto;
}

/*----------------------- End Cons Section ------------------*/


/*----------------------- Footer Section ------------------*/


.dis-n{
    display: flex;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 20px;
}

.dis-n-ct{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: #000000;
}

.dis-img{
    margin-top: 20px;
    width: 80%;
    height: auto;
}

.dis-img img{
    width: 100%;
    height: auto;
}

.dgg{
    position: relative;
    display: block;
    background-image: linear-gradient(#e84a90, #545af8);
    margin-right: 200px;
    margin-top: -50px;
    width: 150px;
    height: 150px;
    color: #fff;
    border-radius: 100%;
}

.d-cm{
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: 90px;
    margin-top: -50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: #e9e7e7;
    height: auto;
    color: #000000;
    padding: 20px;
    margin-bottom: 30px;
}

.d-cm h4{
    font-family: 'smooch Sans', sans-serif;
    font-size: 2rem;
    margin-top: 10px;
}

.d-cm p{
    font-family: 'smooch Sans', sans-serif;
    font-size: 1.6rem;
    margin-top: 10px;
    text-align:start;
    margin-bottom: 40px;
}

.d-cm button{
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
    margin-top: 30px;
    background-color: #359bdb;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

.d-cm button:hover{
    background-color: #5985a7;
}

/*----------------------- End dis Section ------------------*/

/*----------------------- Dv Section ------------------*/

.dv{
    display: flex;
    background-image: linear-gradient(#e84a90, #545af8);
    flex-direction: column;
    width: 100%;
    height: auto;
    color: rgb(199, 197, 197);
}

.dv-ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px;
}

.dv-cm{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-top: 20px;
    width: 85%;
    padding: 20px;
    color: #000;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.6);
}

.dv-ic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.dv-cm h4{
    font-size: 2rem;
    margin-top: 10px;
}

.dv-cm p{
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.db{
    width: 150px;
    height: 40px;
    font-size: 1.7rem;
    border: none;
    border-radius: 25px;
    color: #000000;
    cursor: pointer;
}

.ic-1{
    background-color: #ffa0a0;
}

.ic-2{
    background-color: #5dffb0;
}

.ic-3{
    background-color: #ffd65d;
}

.ic-4{
    background-color: #ce5dff;
}

/*----------------------- End Dv Section ------------------*/

/*----------------------- Ft Section ------------------*/

.ft{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 219, 219);
    width: 100%;
    height: auto;
}

.ft-ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.gl{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: -80px;
    margin-bottom: -10px;
    background-image: linear-gradient(#e84a90, #545af8);
    width: 50%;
    height: 500px;
}

.gl-1{
    display: flex;
    position: relative;
    margin-top: -400px;
    margin-left: -190px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#e84a90, #545af8);
    width: 30%;
    height: 500px;
}

.ld-k{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin-top: -550px;
    margin-bottom: 20px;
    padding: 20px;
    width: 60%;
    height: auto;
    z-index: 1;
}

.ld-k-ct{
    display: flex;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.ld-k-ct img{
    width: 100%;
    height: auto;
}

.ld-k h4{
    font-size: 2rem;
    margin-top: 10px;
}

.ld-k p{
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

/*----------------------- End Ft Section ------------------*/

/*----------------------- Contact Section ------------------*/

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 100%;
    height: auto;
}

.contact-ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px;
}

.contact-cm{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.contact-cm h3{
    font-size: 2.5rem;
    margin-top: 10px;
    color: #333;
}

.contact-cm p{
    font-size: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    text-align: center;
}

.ct{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: auto;
}

.ct span svg{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    color: #000000;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.ct p{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    margin-left: 10px;
    margin-top: 20px;
    color: #333;
    font-size: 1.7rem;
    text-align: left;
}

.ct-ic{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    justify-self: center;
    align-items: center;
    color: #000;
    align-self: center;
    width: 100%;
    height: 50px;
}

.ct-ic svg{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    color: #000000;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.ct-fo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    text-align: center;
}

.ct-fo-ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.ct-tx{
    background-color: #eaeaeaa8;
    width: 100%;

    height: auto;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.4rem;
}

.ip-em{
    display: flex;
    background-color: #eaeaeaa8;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}

.ip-te{
    width: 100%;
    height: 160px;
    border: none;
    background-color: #eaeaeaa8;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.4rem;}

.sb{
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
    margin-top: 10px;
    background-color: #359bdb;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sb:hover{
    background-color: #5985a7;
}

/*----------------------- End Contact Section ------------------*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(220, 219, 219);
    width: 100%;
    height: 160px;
}

.footer-ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.footer-ct p{
    font-size: 1.2rem;
    margin-top: 2px;
    color: #000000;
    text-align: center;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.rd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rd-el{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    color: #000000;
    width: 100px;
    height: 40px;
    margin: 10px;
}

.rd-el:hover{
    color: #0e0e0ea2;
}

.rd-el p{
    display: flex;
    color: #000000;
    margin: 0;
}